################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/obj
/Monster Builder Web API.http

/WeatherForecast.cs
/Controllers/WeatherForecastController.cs
/Controllers/ValuesController.cs
