################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/obj
/packages
/Monster Builder Web API.http
/GlobalSuppressions.cs
/Data
/src/.vs
/src/bin/Debug/net8.0
/src/obj
/UnitTests/bin/Debug/net8.0
/UnitTests/obj
