################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/obj
/packages
/Monster Builder Web API.http
/GlobalSuppressions.cs
/Data
